name: fashion_shop
description: "Fashion Shop - Ứng dụng mua sắm thời trang"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  
  # Localization
  flutter_localizations:
    sdk: flutter

  # UI Components
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  flutter_svg: ^2.0.9
  cached_network_image: ^3.3.0
  shimmer: ^3.0.0
  flutter_rating_bar: ^4.0.1
  badges: ^3.1.2
  fl_chart: ^0.69.2
  
  # State Management
  provider: ^6.1.1
  
  # Network
  http: ^1.1.2
  dio: ^5.4.0
  
  # Authentication
  google_sign_in: ^6.1.5
  
  # Payment & WebView
  url_launcher: ^6.2.5
  webview_flutter: ^4.5.0
  
  # Storage
  shared_preferences: ^2.2.2
  
  # Navigation
  go_router: ^12.1.3
  
  # Date & Time
  intl: any
  
  # Loading & Dialogs
  flutter_spinkit: ^5.2.0
  fluttertoast: ^8.2.4
  
  # Image Picker (for avatar/reviews)
  image_picker: ^1.0.7
  
  # Pull to Refresh
  pull_to_refresh: ^2.0.0
  
  # Carousel
  carousel_slider: ^5.1.1
  
  # Smooth Page Indicator
  smooth_page_indicator: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  
  # Enable generation of localizations
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
